<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs')  %>

    <!-- jsgrid css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/jsgrid.css">
</head>

<body>

    <%- include('../layouts/navbar.ejs')  %>
    <%- include('../layouts/sidebar.ejs')  %>

    <div class="page-body">
        
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Category List
                                <small>FoodApp</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item active">Category List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-popup pull-right">
                                <% if(session.user.role == 'root' || session.user.permissions.categoryInsert) { %>
                                <a href="/categories/add" class="btn btn-primary">Add Category</a>
                                <% } %>
                            </div>
                            <div class="table-responsive">
                                <div id="categories_list" class="product-physical"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

    </div>

    <%- include('../layouts/footer.ejs')  %>
    <%- include('../layouts/script.ejs')  %>

    <!-- Jsgrid js-->
    <script src="/assets/js/jsgrid/jsgrid.min.js"></script>

    <script>
        (function($) {
            "use strict";
            
            var db = {
                loadData: function(filter) {
                    var categories = null
                    $.ajax({
                        url: '/api/categories',
                        type: 'get',
                        data: {},
                        dataType: 'json',
                        async: false,
                        headers: {"Authorization": "Bearer " + token},
                        beforeSend: function (xhr) {
                            $('.category-info-list .loading-area').removeClass('im-hide');
                        },
                        success: function (res) {
                            if (res.status == 'success') {
                                categories = res.data;
                            } else {
                                categories = null;
                            }
                        },
                        error: function (err) {
                            console.log('-- err : ', err)
                            categories = null;
                        }
                    });

                    return categories;
                },
                insertItem: function(insertingClient) {},
                updateItem: function(updatingClient) {},
                deleteItem: function(deletingClient) {}
            };
            window.db = db;

            $(document).ready(function(){

                $("#categories_list").jsGrid({
                    width: "100%",
                    filtering: true,
                    editing: false,
                    inserting: false,
                    sorting: true,
                    paging: true,
                    autoload: true,
                    pActionSize: 15,
                    pActionButtonCount: 5,
                    deleteConfirm: "Do you really want to delete the client?",
                    controller: db,
                    fields: [
                        {
                            name: "image",
                            itemTemplate: function(val, item) {
                                return $("<img>").attr("src", val) .addClass("blur-up lazyloaded") .css({ height: 50, width: 50 });
                            },
                            align: "center",
                            width: 50
                        },
                        { 
                            name: "trans",
                            title: "Name",
                            itemTemplate: function(val, item) {
                                var wrap = $('<div></div>');
                                for( var i=0; i<val.length; i++ ){
                                    var nameNode = $(`<div><span>${val[i].abbr}: </span><span>${val[i].name}</span></div>`);
                                    wrap.append(nameNode);
                                }
                                return wrap
                            },
                            width: 100
                        },
                        { name: "slug", title: "Slug", width: 100},
                        { 
                            name: "parentId", 
                            title: "Parent", 
                            itemTemplate: function(val, item) {
                                if( !val || val.length != 1 ) return '';
                                var nameNode = $(`<div><span>${val[0].slug}</span></div>`);
                                return nameNode
                            },
                            width: 100},
                        { name: "position", title: "Position", width: 50},
                        { 
                            name: '_id', 
                            title: 'Action', 
                            itemTemplate: function(val, item) {
                                var actionNode = $('<div></div>')
                                <% if(session.user.role == 'root' || session.user.permissions.categoryUpdate) { %>
                                    var editNode = $(`<a href="/categories/edit/${val}" class="btn btn-warning btn-sm">Edit</a>`).css({padding: '0.25rem 0.5rem', marginRight: '5px'});
                                    actionNode = actionNode.append(editNode)
                                <% } %>
                                <% if(session.user.role == 'root' || session.user.permissions.categoryDelete) { %>
                                    var delNode = $(`<a href="/categories/delete/${val}" class="btn btn-danger btn-sm">Delete</a>`).css({padding: '0.25rem 0.5rem'});
                                    actionNode = actionNode.append(delNode)
                                <% } %>

                                return actionNode
                            },
                            width: 50 }
                    ]
                });
            })

        })(jQuery);
    </script>
</body>
</html>
