<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs')  %>

</head>

<body>

    <%- include('../layouts/navbar.ejs')  %>
    <%- include('../layouts/sidebar.ejs')  %>

    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3><%= (pg_mode=='add')?'Add New':'Edit' %> Food
                                <small>FoodApp</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item active"><%= (pg_mode=='add')?'Add New':'Edit' %> Food</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <% if(error && error.length > 0){ %>
                                <div class="alert alert-danger">
                                    <%= error %>
                                </div>
                            <% } else if(success && success.length > 0 ){ %>
                                <div class="alert alert-success">
                                    <%= success %>
                                </div>
                            <% } %>
                            <form class="needs-validation add-product-form" novalidate=""
                                method="post" action="/foods/<%= (pg_mode=='add')?'add':'update' %><%= (pg_mode=='edit')?'/' + food_info._id:'' %>" 
                                enctype="multipart/form-data">
                                <div class="row product-adding">
                                    <div class="col-xl-5">
                                        <div class="add-product">
                                            <div class="row">
                                                <div class="col-xl-9 xl-50 col-sm-6 col-9">
                                                    <img src="<%= (pg_mode=='edit') ? food_info.image : '/assets/images/pro3/1.jpg' %>" alt="" class="img-fluid image_zoom_1 blur-up lazyloaded"  id="food-image-preview">
                                                    <div class="invalid-feedback offset-sm-4 offset-xl-3">Please input Image.</div>
                                                </div>
                                                <div class="col-xl-3 xl-50 col-sm-6 col-3">
                                                    <ul class="file-upload-product">
                                                        <li><div class="box-input-file"><input class="upload form-control" type="file" id="food-image" name="food-image" <%= (pg_mode=='edit') ? '' : 'required' %>><i class="fa fa-plus"></i></div></li>
                                                        <!-- <li><div class="box-input-file"><input class="upload" type="file" name="food-gallery-image[]"><i class="fa fa-plus"></i></div></li>
                                                        <li><div class="box-input-file"><input class="upload" type="file" name="food-gallery-image[]"><i class="fa fa-plus"></i></div></li>
                                                        <li><div class="box-input-file"><input class="upload" type="file" name="food-gallery-image[]"><i class="fa fa-plus"></i></div></li>
                                                        <li><div class="box-input-file"><input class="upload" type="file" name="food-gallery-image[]"><i class="fa fa-plus"></i></div></li>
                                                        <li><div class="box-input-file"><input class="upload" type="file" name="food-gallery-image[]"><i class="fa fa-plus"></i></div></li> -->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-7">                                    
                                        <div class="form">
                                            <% for(var i = 0; i<languages.length; i++) {  
                                                var title = ''
                                                if( pg_mode=='edit' ){
                                                    var trans = food_info.trans;
                                                    trans = trans.filter(function( t ){
                                                        return t.abbr == languages[i].abbr
                                                    })
                                                    
                                                    title = trans[0].title;
                                                }
                                            %>
                                                <div class="form-group mb-3 row">
                                                    <label for="food-title-<%= languages[i].abbr%>" class="col-xl-3 col-sm-4 mb-0">Title(<%= languages[i].abbr%>) :</label>
                                                    <input class="form-control col-xl-8 col-sm-7" id="food-title-<%= languages[i].abbr%>" type="text" required
                                                        name="food-title-<%= languages[i].abbr%>" value="<%= title %>">
                                                    <div class="invalid-feedback offset-sm-4 offset-xl-3">Please input Title.</div>
                                                </div>
                                            <% } %>
                                            
                                            <div class="form-group mb-3 row">
                                                <label for="food-sku" class="col-xl-3 col-sm-4 mb-0">SKU :</label>
                                                <input class="form-control col-xl-8 col-sm-7" id="food-sku" type="text" required
                                                    name="food-sku" value="<%= (pg_mode=='edit')? food_info.sku : ''%>">
                                                <div class="invalid-feedback offset-sm-4 offset-xl-3">Please choose Valid SKU.</div>
                                            </div>
                                            <% for(var i = 0; i<languages.length; i++) {  
                                                var price = 0, oldPrice = 0;
                                                if( pg_mode=='edit' ){
                                                    var trans = food_info.trans;                                                    
                                                    trans = trans.filter(function( t ){
                                                        return t.abbr == languages[i].abbr
                                                    })
                                                    
                                                    price = trans[0].price;
                                                    oldPrice = trans[0].oldPrice;
                                                }
                                            %>
                                                <div class="form-group mb-3 row">
                                                    <label for="food-price-<%= languages[i].abbr%>" class="col-xl-3 col-sm-4 mb-0">Price(<%= languages[i].currency%>) :</label>
                                                    <input class="form-control col-xl-8 col-sm-7" id="food-price-<%= languages[i].abbr%>" type="text" required
                                                        name="food-price-<%= languages[i].abbr%>" value="<%= price %>">
                                                    <div class="invalid-feedback offset-sm-4 offset-xl-3">Please input Price.</div>
                                                </div>
                                                <div class="form-group mb-3 row">
                                                    <label for="food-oldPrice-<%= languages[i].abbr%>" class="col-xl-3 col-sm-4 mb-0">Old Price(<%= languages[i].currency%>) :</label>
                                                    <input class="form-control col-xl-8 col-sm-7" id="food-oldPrice-<%= languages[i].abbr%>" type="text" required
                                                        name="food-oldPrice-<%= languages[i].abbr%>" value="<%= oldPrice %>">
                                                    <div class="invalid-feedback offset-sm-4 offset-xl-3">Please input Old Price.</div>
                                                </div>
                                            <% } %>
                                            
                                        </div>
                                        <div class="form">
                                            <div class="form-group row">
                                                <label for="food-categoryId" class="col-xl-3 col-sm-4 mb-0">Category :</label>
                                                <select class="form-control digits col-xl-8 col-sm-7" id="food-categoryId" name="food-categoryId">
                                                    <option value=''>None</option>
                                                    <% for(var i = 0; i<categories.length; i++) {  
                                                        var trans = categories[i].trans;
                                                        trans = trans.filter(function(t){
                                                            return t.abbr == 'EN'
                                                        })
                                                        var catName = trans[0].name;
                                                    %>
                                                        <option <%= (pg_mode=='edit' && food_info.categoryId && food_info.categoryId.length>0 && food_info.categoryId[0]+''==categories[i]._id+'')?'selected':'' %> value="<%= categories[i]._id %>"><%= catName %></option>
                                                    <% } %>
                                                </select>
                                            </div>
                                            <div class="form-group row">
                                                <label for="food-qty" class="col-xl-3 col-sm-4 mb-0">Qty :</label>
                                                <fieldset class="qty-box col-xl-9 col-xl-8 col-sm-7 pl-0">
                                                    <div class="input-group">
                                                        <input class="touchspin" id="food-qty"  type="text" required
                                                            name="food-qty" value="<%= (pg_mode=='edit')? food_info.qty : 0%>">
                                                    </div>
                                                </fieldset>
                                                <div class="invalid-feedback offset-sm-4 offset-xl-3">Please enter Qty.</div>
                                            </div>
                                            <% for(var i = 0; i<languages.length; i++) {  
                                                var desc = ''
                                                if( pg_mode=='edit' ){
                                                    var trans = food_info.trans;                                                    
                                                    trans = trans.filter(function( t ){
                                                        return t.abbr == languages[i].abbr
                                                    })
                                                    
                                                    desc = trans[0].desc;
                                                }
                                            %>
                                            <div class="form-group row" style="align-items: start;">
                                                <label class="col-xl-3 col-sm-4" for="food-description-<%= languages[i].abbr%>">Description(<%= languages[i].abbr %>) :</label>
                                                <div class="col-xl-8 col-sm-7 pl-0 description-sm">
                                                    <textarea id="food-description-<%= languages[i].abbr%>" name="food-description-<%= languages[i].abbr %>" cols="10" rows="4">
                                                        <%= desc %>
                                                    </textarea>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                        <div class="offset-xl-3 offset-sm-4">
                                            <button type="submit" class="btn btn-primary"><%= (pg_mode=='edit')? 'Edit' : 'Add' %></button>
                                            <a class="btn btn-light" href="/categories">Discard</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

    </div>

    <%- include('../layouts/footer.ejs')  %>
    <%- include('../layouts/script.ejs')  %>

    <!-- touchspin js-->
    <script src="/assets/js/touchspin/vendors.min.js"></script>
    <script src="/assets/js/touchspin/touchspin.js"></script>
    <script src="/assets/js/touchspin/input-groups.min.js"></script>

    <!-- form validation js-->
    <script src="/assets/js/dashboard/form-validation-custom.js"></script>

    <!-- ckeditor js-->
    <script src="/assets/js/editor/ckeditor/ckeditor.js"></script>
    <script src="/assets/js/editor/ckeditor/styles.js"></script>
    <script src="/assets/js/editor/ckeditor/adapters/jquery.js"></script>

    <!-- Zoom js-->
    <script src="/assets/js/jquery.elevatezoom.js"></script>
    <script src="/assets/js/zoom-scripts.js"></script>

    <script>
        (function($) {
            "use strict";

            $(document).ready(function(){
                $('#food-image-preview').elevateZoom({
                    zoomType: "inner",
                    cursor: "crosshair"
                });

                var editors = $('[id^=food-description-]');

                for( var i=0; i<editors.length; i++ ){
                    var id = $(editors[i]).attr('id');
                    
                    CKEDITOR.replace( id, {
                        on: {
                            contentDom: function( evt ) {
                                // Allow custom context menu only with table elemnts.
                                evt.editor.editable().on( 'contextmenu', function( contextEvent ) {
                                    var path = evt.editor.elementPath();

                                    if ( !path.contains( 'table' ) ) {
                                        contextEvent.cancel();
                                    }
                                }, null, null, 5 );
                            }
                        }
                    });
                }
                
            })


            $('#food-image').change(function(){
                var input = this;
                var url = $(this).val();
                var ext = url.substring(url.lastIndexOf('.') + 1).toLowerCase();
                if (input.files && input.files[0]&& (ext == "gif" || ext == "png" || ext == "jpeg" || ext == "jpg")) 
                {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#food-image-preview').attr('src', e.target.result);
                        $('#food-image-preview').elevateZoom({
                            zoomType: "inner",
                            cursor: "crosshair"
                        });
                    }
                    reader.readAsDataURL(input.files[0]);
                } 
            });

        })(jQuery);
    </script>
</body>
</html>



