<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header.ejs')  %>

    <!-- Datatables css-->
    <link rel="stylesheet" type="text/css" href="/assets/css/datatables.css">
    
</head>

<body>

    <%- include('../layouts/navbar.ejs')  %>
    <%- include('../layouts/sidebar.ejs')  %>

    <div class="page-body">

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="page-header-left">
                            <h3>Order List
                                <small>FoodApp</small>
                            </h3>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ol class="breadcrumb pull-right">
                            <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                            <li class="breadcrumb-item active">Order List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body order-datatable">
                            <table class="display" id="order_list">
                                <thead>
                                <tr>
                                    <th>Order Id</th>
                                    <th>Food</th>
                                    <th>Payment Method</th>
                                    <th>Order Status</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <!-- <tr>
                                        <td>#51240</td>
                                        <td>
                                            <div class="d-flex">
                                                <img src="/assets/images/electronics/product/25.jpg" alt="" class="img-fluid img-30 mr-2 blur-up lazyloaded">
                                                <img src="/assets/images/electronics/product/13.jpg" alt="" class="img-fluid img-30 mr-2 blur-up lazyloaded">
                                                <img src="/assets/images/electronics/product/16.jpg" alt="" class="img-fluid img-30 blur-up lazyloaded">
                                            </div>
                                        </td>
                                        <td><span class="badge badge-secondary">Cash On Delivery</span></td>
                                        <td>Paypal</td>
                                        <td><span class="badge badge-success">Delivered</span></td>
                                        <td>Dec 10,18</td>
                                        <td>$54671</td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->

    </div>

    <%- include('../layouts/footer.ejs')  %>
    <%- include('../layouts/script.ejs')  %>

    <!-- Datatable js-->
    <script src="/assets/js/datatables/jquery.dataTables.min.js"></script>

    <script>
        (function($) {
            "use strict";

            var itemCount = parseInt('<%= orders.length %>');

            $(document).ready(function(){
                var dt = $('#order_list').DataTable({
                    "serverSide": true,
                    "processing": true,
                    "ajax": {
                        url: '/api/orders/datatable',
                        type: 'POST',
                        dataSrc: 'data',
                        dataType :"json",
                        headers: {"Authorization": "Bearer " + token},
                        dataFilter: function(data){
                            var json = jQuery.parseJSON( data );
                            console.log('-- json : ', json)
                            var ret;
                            if( json.status == 'fail' ){
                                ret = {
                                    data: [],
                                    recordsTotal: 0,
                                    recordsFiltered: 0
                                }
                            } else {
                                ret = {
                                    data: json.data.data,
                                    recordsTotal: json.data.recordsTotal,
                                    recordsFiltered: json.data.recordsFiltered
                                }
                            }
                            return JSON.stringify(ret)
                        }
                    },
                    columnDefs: [ 
                        {"orderable": true, "targets": [0,2,3,4,5]},
                        {"orderable": false, "sorting": false, "targets": [1,6]},
                        {"searchable": true, "targets": [0,2,3]},
                        {"searchable": false, "targets": [1,4,5,6]},
                        {
                            "targets": 0,
                            "data": 'orderId',
                        }, {
                            "targets": 1,
                            "data": 'bags',
                            "render": function (data, type, row) {
                                console.log('-- data : ', data)

                                var foodsElem = ''
                                data.map(function(bag){
                                    foodsElem += `<img src="${bag.food.image}" alt="" class="img-fluid img-30 mr-2 blur-up lazyloaded">`
                                })
                                return `
                                    <div class="d-flex">
                                        ${foodsElem}
                                    </div>
                                `
                            }
                        }, {
                            "targets": 2,
                            "data": 'cardType',
                            "render": function (data, type, row) {
                                var cardIcon = '/assets/images/master-icon.png'
                                if(data == 'visa') cardIcon = '/assets/images/visa-icon.png'
                                else if(data == 'knet') cardIcon = '/assets/images/knet-icon.png'
                                return `<img src="${cardIcon}" alt="${data}"/>`
                            }
                        }, {
                            "targets": 3,
                            "data": 'status',
                            "render": function (data, type, row) {
                                return `<span class="badge badge-success">${data}</span>`
                            }
                        }, {
                            "targets": 4,
                            "data": 'createdAt',
                            "render": function (data, type, row) {
                                var dateStr = (new Date(data)).toString();
                                console.log('-- dateStr : ', dateStr);
                                dateStr = dateStr.split(' ');
                                console.log('-- dateStr1 : ', dateStr);
                                var newDateStr = ''
                                for( var i=0; i<dateStr.length; i++ ){
                                    if(i > 3) break;
                                    newDateStr += dateStr[i] + ' ';
                                }
                                return newDateStr;
                            }
                        }, {
                            "targets": 5,
                            "data": 'price',
                            "render": function (data, type, row) {
                                console.log('-- data : ', data, row)

                                return `
                                    <div class="d-flex">
                                        ${row.currency}${data}
                                    </div>
                                `
                            }
                        }, {
                            "targets": 6,
                            "data": '_id',
                            "render": function (data, type, row) {
                                return `
                                    <a href="/orders/detail/${data}" class="btn btn-warning btn-sm datatable-action-btn">Detail</a>
                                    <a href="/orders/delete/${data}" class="btn btn-danger btn-sm datatable-action-btn">Delete</a>
                                `
                            }
                        } 
                    ],
                });

                $('#order_list').on( 'page.dt', function (e) {
                    var info = dt.settings();
                } );
            })
            
        })(jQuery);
    </script>
</body>
</html>
